@page
@model KinderGardenApp.AcceptedModel
@{
    ViewData["Title"] = "Accepted";
}

<h1>Accepted</h1>

<table id="mytable" class="table table-bordred table-striped">

    <thead>

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>DateTime</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kid in Model.kids)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => kid.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => kid.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => kid.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => kid.AplicationDate)
                </td>
                <td>
                    <a asp-page="/ListApplications/Delete" asp-route-kidId="@kid.Id"><button class="btn btn-danger btn-sm"><i class="fa fa-window-close"></i></button></a>
                    <a asp-page="/ListApplications/Details" asp-route-returnPage="accepted" asp-route-id="@kid.Id"><button class="btn btn-info btn-sm"><i class="fa fa-search"></i></button></a>
                </td>
            </tr>
        }

    </tbody>
</table>