@page
@model KinderGardenApp.ListApplicationsModel
@{
    ViewData["Title"] = "ListAplication";
}

<h1>Листа на апликанти</h1>
<table id="mytable" class="table table-bordred table-striped">

    <thead>

        <tr>
            <th>Име</th>
            <th>Презиме</th>
            <th>Години</th>
            <th>Дата на аплицирање</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kid in Model.kids)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => kid.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => kid.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => kid.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => kid.AplicationDate)
            </td>
            <td>
                <a asp-page="/ListApplications/Accept" asp-route-kidId="@kid.Id"><button class="btn btn-success btn-sm"><i class="fa fa-check"></i></button></a>
                    <a asp-page="/ListApplications/Denied" asp-route-kidId="@kid.Id"><button class="btn btn-danger btn-sm"><i class="fa fa-window-close"></i></button></a>
                    <a asp-page="/ListApplications/Details" asp-route-id="@kid.Id"><button class="btn btn-info btn-sm"><i class="fa fa-search"></i></button></a>
            </td>
        </tr>
        }







        </tbody>
</table>